doctype html
html
  head
    title Email Verification
  body
    h1 Email Verification
    p Hello #{user.firstName},
    p We received a request to verify your email, please use the code below.
    p #{code}
    p Thank you,
    p The Support Team
